body {
    margin: 20px;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
}

.aquamarine {
    background-color: aquamarine;
    color: brown;
}

/* #tomato1 , #tomato2 , #tomato3 {
    background-color: tomato;
} */

.tomato {
    background-color: tomato;
    color: white;

    /* 角を丸くする */

}
