/* ページ全体の背景色を設定 */
body {
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    font-family: Arial, sans-serif;
    color: #FABD2C;
    height: 100vh;
}

/* 1つ目の長方形 */
.rectangle-1 {
    background-color: #282828;
    position: absolute;
    top: 148px;
    left: 31px;
    width: 450px;
    height: 920px;
}

/* 2つ目の長方形 */
.rectangle-2 {
    background-color: #282828;
    position: absolute;
    top: 25px;
    left: 31px;
    width: 450px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 時刻表示のスタイル */
.time-display {
    font-family: 'Kay Pho Du', sans-serif; /* フォントを設定 */
    font-size: 4rem; /* フォントサイズを調整 */
    color: #FE8019;
}

/* 中央に配置する長方形 */
.rectangle {
    background-color: #282828;
    position: absolute;
    top: 148px; /* .rectangle-1と同じにする */
    left: 496px;
    width: 1390px;
    height: 900px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}

/* タイトルのスタイル */
h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}

/* 画像のスタイル */
.pmark {
    width: 70px;
    height: auto;
    margin-right: 10px;
}
