/* ページ全体の背景色を設定 */
body {
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    font-family: Arial, sans-serif;
    color: #FABD2C;
    height: 100vh;
}

/* 1つ目の長方形 */
.rectangle-1 {
    background-color: #282828;
    position: absolute;
    top: 148px;
    left: 31px;
    width: 450px;
    height: 900px;
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: flex-end; /* 縦方向は一番下にバランスよく配置 */
    padding-bottom: 20px; /* 少し余白を持たせる */
}

/* 学校のマーク画像 */
.school-mark {
    width: 395px; /* 画像の幅 */
    height: 73px; /* 画像の高さ */
}

/* 2つ目の長方形 */
.rectangle-2 {
    background-color: #282828;
    position: absolute;
    top: 25px;
    left: 31px;
    width: 450px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 現在時刻表示のスタイル */
.time-display {
    font-family: 'Kay Pho Du', sans-serif; /* フォントを設定 */
    font-size: 4rem; /* フォントサイズを調整 */
    color: #FE8019;
}

/* 中央に配置する長方形 */
.rectangle {
    background-color: #282828;
    position: absolute;
    top: 148px;
    left: 496px;
    width: 1390px;
    height: 900px;
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

/* タイトルのスタイル（長方形の幅中央に配置、高さを長方形の上にはみ出すようにする） */
h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -150px; /* この値は適宜調整してください */
    left: 50%;
    transform: translateX(-50%);
}

/* 画像のスタイル */
.pmark {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

/* 中央に配置する長方形内の制約エリア枠線 */
.restriction-area {
    position: absolute;
    top: 20px;  /* .rectangleの上辺からの余白を持たせる */
    left: 50%;  /* 横方向の中央揃え */
    transform: translateX(-50%); /* 中央に配置 */
    width: 950px;  /* 指定された幅 */
    height: 150px; /* 指定された高さ */
    border: 10px solid #3572A5; /* 枠線のみ、色は#3572A5 */
    background-color: transparent; /* 塗りつぶしなし */
    box-sizing: border-box;
}
