body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4b4948;
    margin: 0;
    display: flex; 
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock-digital {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clock-digital img {
    width: 100px;
    margin-bottom: 10px;
}

.clock-digi {
    color: #4b4948;
    -webkit-text-stroke: 2px #f19ec2;
    font-size: 100px;
}

.clock-analog {
    border-radius: 50%;
    border: 3px solid #f19ec2;
    width: 400px;
    height: 400px;
    position: relative;
}

.lineHour {
    width: 10px;
    height: 150px;
    background: #f19ec2;
    position: absolute;
}