body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media screen and (max-width: 700px){
    div {
        background-color: lemonchiffon;
    }
}

/* アニメーション対象のボックス */
div {
    background-color: skyblue;
    width: 800px;
    height: 800px;
}

/* アニメーションの定義 */
@-webkit-keyframes flip-scale-2-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    50% {
        -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
        transform: translateY(-50%) rotateX(-90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
        transform: translateY(-100%) rotateX(-180deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

@keyframes flip-scale-2-hor-top {
    0% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    50% {
        -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
        transform: translateY(-50%) rotateX(-90deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
        transform: translateY(-100%) rotateX(-180deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

/* アニメーション適用 */
.flip-scale-up-hor {
    border-radius: 50%;
    animation: flip-scale-2-hor-top 2s ease-in-out infinite;
}