body {
    margin: 0;
    overflow: hidden; /* 画面外のスクロールを防ぐ */
    background-color: #f0c9e6;
}

.char {
    position: absolute; /* 絶対位置を指定可能にする */
    width: 100px; /* キャラクターの幅 */
    height: 100px; /* キャラクターの高さ */
    transform: translate(-50%, -50%); /* 中心を基準に動かす */
}
